---
import Layout from "../layouts/Layout.astro";
import DotLinks from "../components/DotLinks.astro";
import { crew } from "../data.json";
import { uriEncode } from "../utils/urls";

export function getStaticPaths() {
  return crew.map((member) => ({
    params: { role: uriEncode(member.role) },
    props: { ...member },
  }));
}
---

<Layout title={`Crew - ${Astro.props.role}`} activeLink="/crew-commander">
  <main class="container">
    <h1 class="h5 h5--white main-title">
      <span class="title-number" aria-hidden="true">02</span>Meet your crew
    </h1>

    <div class="member">
      <div class="member__img-wrap">
        <picture>
          <source srcset={Astro.props.images.webp} type="image/webp" />
          <img class="member__img" src={Astro.props.images.png} alt={Astro.props.name} />
        </picture>
      </div>

      <div class="member__info">
        <div class="dots-wrap">
          <DotLinks
            links={crew.map((member) => ({
              href: "/crew-" + uriEncode(member.role),
              label: member.role,
            }))}
          />
        </div>

        <h2 class="h3 member__name">
          <div class="h4 h4--gray member__role">{Astro.props.role}</div>{Astro.props.name}
        </h2>
        <p class="paragraph member__bio">{Astro.props.bio}</p>
      </div>
    </div>
  </main>
</Layout>

<style>
  body {
    background-image: url("/assets/crew/background-crew-mobile.jpg");
    background-position: center top;
    text-align: center;
  }

  .container {
    padding: 1.5rem;
  }

  .member__img-wrap {
    border-bottom: 1px solid #383b4b;
  }

  .member__img {
    display: block;
    height: 13.875rem;
    margin: 2rem auto 0;
  }

  .member__info {
    margin-top: 2rem;
  }

  .member__name {
    margin-top: 2rem;
  }

  .member__role {
    margin-bottom: 0.5rem;
  }

  .member__bio {
    margin-top: 1rem;
  }

  /* tablet */
  @media (min-width: 48rem) {
    body {
      background-image: url("/assets/crew/background-crew-tablet.jpg");
    }

    body,
    .container {
      display: grid;
      grid-template-rows: auto 1fr;
    }

    .container {
      padding: 2.5rem 0 0;
      max-width: 28.625rem;
    }

    .main-title {
      text-align: left;
      margin-left: -7rem;
    }

    .member {
      display: flex;
      flex-direction: column-reverse;
    }

    .member__info {
      display: flex;
      flex-direction: column;
    }

    .dots-wrap {
      margin-top: 2.5rem;
      order: 3;
    }

    .member__img-wrap {
      border: 0;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-top: 2.5rem;
    }

    .member__img {
      object-fit: contain;
      margin: 0;
      max-width: 100%;
      height: auto;
    }
  }

  /* desktop */
  @media (min-width: 70rem) {
    body {
      background-image: url("/assets/crew/background-crew-desktop.jpg");
      text-align: left;
    }

    .container {
      max-width: 70rem;
      padding-bottom: 0;
    }

    .main-title {
      margin: 0;
    }

    .member {
      flex-direction: row;
    }

    .member > * {
      flex: 1 1 100%;
    }

    .dots-wrap {
      --justify-content: flex-start;
      margin-top: 7.5rem;
    }

    .member__img-wrap {
      order: 2;
      margin: 0 0 0 auto;
    }

    .member__info {
      align-self: end;
      margin-bottom: 5.875rem;
    }

    .member__bio {
      max-width: 27.75rem;
      margin-top: 1.6875rem;
    }
  }
</style>
