---
import Layout from "../layouts/Layout.astro";
import NumberLinks from "../components/NumberLinks.astro";
import { technology } from "../data.json";
import { uriEncode } from "../utils/urls";

export function getStaticPaths() {
  return technology.map((tech) => ({
    params: { name: uriEncode(tech.name) },
    props: { ...tech },
  }));
}
---

<Layout title={"Technology - " + Astro.props.name} activeLink="/technology-launch-vehicle">
  <main>
    <div class="container">
      <h1 class="h5 h5--white main-title">
        <span class="title-number" aria-hidden="true">03</span>SPACE LAUNCH 101
      </h1>
    </div>

    <img
      class="technology__img technology__img-mobile"
      src={Astro.props.images.landscape}
      alt={Astro.props.name}
    />

    <div class="container technology">
      <img
        class="technology__img technology__img-desktop"
        src={Astro.props.images.portrait}
        alt={Astro.props.name}
      />

      <div class="technology__content">
        <div class="links-wrap">
          <NumberLinks
            links={technology.map((tech) => ({
              href: `/technology-${uriEncode(tech.name)}`,
              label: tech.name,
            }))}
          />
        </div>

        <div class="technology__info">
          <h2 class="h3">
            <div class="h5">The terminology…</div>
            <div class="technology__title">{Astro.props.name}</div>
          </h2>

          <p class="paragraph technology__description">{Astro.props.description}</p>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  body {
    background-image: url("/assets/technology/background-technology-mobile.jpg");
    background-position: center top;
    text-align: center;
  }

  .container {
    padding: 0 1.5rem 0;
  }

  .main-title {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .technology {
    margin-top: 2rem;
    padding-bottom: 2rem;
  }

  .technology__img {
    display: block;
    width: 100%;
    min-height: 10.625rem;
    object-fit: cover;
    margin-bottom: 2.125rem;
  }

  .technology__img-desktop {
    display: none;
  }

  .technology__info {
    margin: 1.625rem 0 0 0;
  }

  .technology__title {
    margin: 0.5625rem 0 0 0;
  }

  .technology__description {
    margin: 1rem 0 0 0;
  }

  /* tablet */
  @media (min-width: 48rem) {
    body {
      background-image: url("/assets/technology/background-technology-tablet.jpg");
    }

    .main-title {
      text-align: left;
      margin-top: 2.5rem;
      margin-bottom: 3.75rem;
    }

    .technology__img {
      margin-bottom: 3.5rem;
    }

    .technology__info {
      margin: 2.75rem auto 0;
      max-width: 28.625rem;
    }
  }

  /* desktop */
  @media (min-width: 70rem) {
    body {
      background-image: url("/assets/technology/background-technology-desktop.jpg");
      text-align: left;
    }

    .main-title {
      margin: 2.5rem 0 3.75rem;
    }

    .technology {
      display: grid;
      grid-template-columns: minmax(1.5rem, 11rem) 39.375rem minmax(32rem, 1fr);
      align-items: center;
      max-width: 90rem;
      padding: 0;
    }

    .technology__img-mobile {
      display: none;
    }

    .technology__img-desktop {
      display: block;
      grid-column: 3;
      padding-left: 8.125rem;
      margin: 0;
    }

    .technology__content {
      display: flex;
      gap: 5rem;
      grid-column: 2;
      grid-row: 1;
    }

    .links-wrap {
      --flex-direction: column;
      --gap: 2rem;
    }

    .technology__info {
      margin: 0;
      max-width: initial;
    }
  }
</style>
